<h1>Create Figure</h1>
<form action="/figures" method="POST">
  <p>Name: <input id="figure_name" type="text" name="figure[name]"></p>
  <h2>Titles</h2>
  <% @titles.each do |title| %>
    <p><input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><%= title.name %></p>
  <% end %>
  <p>New Title: <input id="new_title" type="text" name="title[name]"></p>
  <h2>Landmarks</h2>
  <% @landmarks.each do |landmark| %>
    <p><input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%= landmark.name %></p>
  <% end %>  
  <p>New Landmark: <input id="new_landmark" type="text" name="landmark[name]"></p>
  <input id="Create New Figure" type="submit">
</form>